@CHARSET "UTF-8";
.formbody{
	margin-top: 15px;
	margin-left: 15px;
}
.formbody .tools_list{
	width: 1100px;
	margin-top: 15px;
}
.formbody .tools_list li {
	overflow: hidden;
	margin: 5px auto;
}
.formbody .tools_list li label{
	font-size: 18px;
	color: #009FB3;
	float: left;
	display: inline-block;
	width: 80px;
	height: 45px;
	text-align: center;
}
.formbody .tools_list li label span,
.formbody .tools_list li label i.fa{
	display: block;
}
.formbody .tools_list li span.valueset{
	float: left;
	margin-left: 20px;
}
.formbody .tools_list li span .input{
	width: 240px;
	height: 25px;
	padding: 0 10px;
	border: 1px solid #009FB3;
}
.formbody .tools_list li span.valueset span.button{
	margin-left: 15px;		
}
.formbody .tools_list li span.valueset span.button input.btn{
	border: none;
	color: #eee;
	cursor: pointer;
	background: #C6C6C6;
	padding: 5px;
}
.formbody .tools_list li span.valueset span.button .btn.active{
	background: #009FB3;
}
.formbody form div.submit{
	line-height: 30px;
	width: 380px;
	text-align: center;
	margin: 5px 0;
	padding: 5px 0;
}
.formbody form div.submit input.submitbtn{
	border: none;
	background: #E5D127;
	color: #666;
	padding: 5px 20px;
	margin-top: 10px;
	cursor: pointer;
}