<div class="footer_zw"></div>
<!-- footer 底部 -->
	<div class="footer">
			<div class="up_item">
				<div class="content">
					<div class="fl footerbox cominfo">
						<div class="main nopadding">
							<div class="com">
							<img src="./assets/common/images/logo/logo.png" alt="company name" />
							<p class="comname">company name here</p>
							</div>
							<div class="infolist">
								<p class="listi">
									<span class="label fl"><i class="fa fa-map-marker"></i>address:</span><span class="content fl"> YourYourYourYour Company Address detail here</span>
								</p>
								<p class="listi">
									<span class="label fl"><i class="fa fa-phone"></i>phone:</span><span class="content fl"> +86-028-83588574 / +86-028-19885747 / +86-13858447474</span>
								</p>
								<p class="listi">
									<span class="label fl"><i class="fa fa-envelope-o"></i>Email:</span><span class="content fl">  company@163.com </span> 
								</p>
							</div>
							<ul class="footer_social">
							  <li><a href="###"> <i class="fa fa-facebook"> </i> </a></li>
							  <li><a href="###"><i class="fa fa-twitter"> </i> </a></li>
							  <li><a href="###"><i class="fa fa-google-plus"> </i> </a></li>
							  <li><a href="###"><i class="fa fa-instagram"> </i> </a></li>
						   </ul>
						</div>				
					</div>
					
					<div class="fl footerbox list news">
						<div class="main">
							<div class="title"><h2 class="fl">news</h2><span class="fr more"><a href="###">more&gt;&gt;</a></span></div>
							<ul class="lists">
								<li class="cat"><a href="###" class="news">1.news title for the web site that you</a></li>
								<li class="cat"><a href="###" class="news">1.news title for the web site that you </a></li>
								<li class="cat"><a href="###" class="news">1.news title for the web site that you</a></li>
								<li class="cat"><a href="###" class="news">1.news title for the web site that you</a></li>
								<li class="cat"><a href="###" class="news">1.news title for the web site that you</a></li>
								</ul>
						</div>
					</div>	
					
					<div class="fl footerbox list products">
						<div class="main">
							<div class="title"><h2>product categories</h2></div>
							<ul class="lists">
								<li class="cat"><a href="###" title="shoes">shoes</a></li>
								<li class="cat"><a href="###" title="men">men</a></li>
								<li class="cat"><a href="###" title="women">women</a></li>
								<li class="cat"><a href="###" title="children">children</a></li>
								<li class="cat"><a href="###" title="children">children</a></li>
								</ul>
						</div>
					</div>
				
					<div class="fl footerbox list morepage">
						<div class="main">
							<div class="title"><h2 class="fl">help</h2><span class="fr more"><a href="###">more&gt;&gt;</a></span></div>
							<ul class="lists">
								<li class="cat"><a href="###" title="shoes">page title1</a></li>
								<li class="cat"><a href="###" title="shoes">page title2</a></li>
								<li class="cat"><a href="###" title="shoes">page title3</a></li>
								<li class="cat"><a href="###" title="shoes">page title4</a></li>
								<li class="cat"><a href="###" title="shoes">page title5</a></li>
								</ul>
						</div>
					</div>				
					
				</div>					
			</div>	
			
			<div class="down_content">
				<div class="content">
					<div class="friend_link">
						<p class="ft_18 pull-left">友情链接：</p>
						<div class="fl_text">
						<a href="http://www.cdsile.com/" target="_blank">成都网站制作</a>
						<a href="http://www.cdsile.com/" target="_blank">成都网站建设</a>
						<a href="http://www.gonet.com.cn/" target="_blank">北京网页设计</a>
						<a href="http://www.yezhihua.com/" target="_blank">北京网络公司</a>
						<a href="http://www.84n.net/" target="_blank">南京网站建设</a>
						<a href="http://www.qifanweb.com/" target="_blank">合肥网站建设</a>
						<a href="http://www.cdcz.net/" target="_blank">成都火车站</a>
						<a href="http://www.chichuang.com/" target="_blank">成都网站建设</a>
						<a href="http://www.shuwon.com/" target="_blank">成都网站制作</a>
						<a href="http://www.51web.com/" target="_blank">云主机</a>
						<a href="http://www.chinaspc.com/" target="_blank">成都网站建设</a>
						</div>
						</div>
				</div>
				<div class="copy">Copyright © 2015.Company name All rights Designed By Bililovy</div>
			</div>
	</div>
<script type="text/javascript">
var f_height=$(".footer").height();
$(".footer_zw").css("height",f_height+45);
$('.footer .up_item .content a').hover(function (){
	$(this).stop().animate({'padding-left': '10px'},200);
}, function (){
	$(this).stop().animate({'padding-left': '0px'},200);	
});

</script>
<!--// footer 底部 -->