<include file="public/head" />
<body>
<div class="bodyContainer">
<include file="public/body_header" />
<include file="public/breadcrumb" />
<div class="search_head">
	<div class="container">
		<div class="search_result">
<style>
	.search_result .bg-blue {
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(246, 219, 153, 1) 0%, #f0c452 100%) repeat scroll 0 0;
		border: 1px solid #a88734;
		color: #333;
		width: 100%;
	}
</style>
			<!----- ddd--->
			<if condition="! $searchs">
			<div class="no_data">			
				<span class="mood"></span><span class="desc">sorry! no result for your key words.</span>
			</div>
			<else />
				<ul class="list-unstyled">
					<foreach name="searchs" item="rg">

						<li>
							<img class="gimg" alt="{$rg.goodsname}" src="{$rg.goodsimg}">
							<h4><a href="{:U('Goods/detail',array('gid'=>$rg['id']))}" target="_blank" title="{$rg.goodsname}">{$rg.goodsname}</a></h4>
							<div class="price">
								<div class="price-left">
									<div class="info">
										<if condition="!$rg.sell_price or $rg.sell_price elt 0">
											<span class="font24 bule-size">${$rg.price}</span>
											<else />
											<span class="font24 bule-size">{$rg.sell_price}</span>
											<span class="text-del">${$rg.price}</span>
										</if>
									</div>
								</div>

								<div class="price-right">
									<div class="score fl" data-score="{$rg.score}">
										<img src="__IMG__/icons/star-off-big.png" />
										<img src="__IMG__/icons/star-off-big.png" />
										<img src="__IMG__/icons/star-off-big.png" />
										<img src="__IMG__/icons/star-off-big.png" />
										<img src="__IMG__/icons/star-off-big.png" />
									</div>
									<div class="fav fr" id="gf_{$rg.id}">❤(<span class="fav-num"><if condition="$rg.favnum gt 9999">9999+<else />{$rg.favnum}</if></span>)</div>
									<a id="ga-dailyDeals" class="btn bg-blue clear-b" href="<empty name='rg.goodslink'>{:U('Goods/detail',array('gid'=>$rg['id']))}<else />{$rg.goodslink}</empty>" target="_blank">Buy at Amazon</a>
								</div>
							</div>
						</li>

					</foreach>

				</ul>
			</if>
						{$page}
					<!-- //分页 -->
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
$('.fav').click(function (){
	addFavorite($(this));
})
// set the stars number
$('.price-right .score').each (function (){
	var $score= (isNaN(parseFloat($(this).attr('data-score'))) || parseFloat($(this).attr('data-score')) <0) ? 0 : parseFloat($(this).attr('data-score'));
	var star_on="__IMG__/icons/star-on-big.png";
	var star_half="__IMG__/icons/star-half-big.png";
	var imgs =$(this).find('img').length;
	var reg=/\./g;
	var $int_score=null;
	var $float_score=null;
	if (reg.test($score)){
		var $score=$score.toString().split('.');
		$int_score = $score[0];
		$float_score = $score[1];
	}else{
		$int_score = $score;
	}
	for(var i=0; i< imgs; i++){
		if (i<$int_score){
			$(this).find('img').eq(i).attr('src', star_on);
		}
		if(null != $float_score && $float_score >=3){
			$(this).find('img').eq($int_score).attr('src', star_half);
		}
	}
})
</script>
<!-- //登录表单 页面 -->
<include file="public/footer" />

</body>
</html>