@charset "utf-8"; 

.formbody {
	padding: 10px 18px
}

.formtitle {
	border-bottom: solid 1px #d0dee5;
	line-height: 35px;
	position: relative;
	height: 35px;
	margin-bottom: 28px
}

.formtitle span {
	font-weight: bold;
	font-size: 14px;
	border-bottom: solid 3px #66c9f3;
	float: left;
	position: absolute;
	z-index: 100;
	bottom: -1px;
	padding: 0 3px;
	height: 30px;
	line-height: 30px
}

.formtitle a {
	font-weight: bold;
	font-size: 14px;
	border-bottom: solid 3px #66c9f3;
	position: absolute;
	z-index: 100;
	bottom: -1px;
	right: 0;
	padding: 0 3px;
	height: 30px;
	line-height: 30px;
	color: #3672A6
}

.forminfo {
	padding-left: 23px;
	min-width: 960px;
	max-width: 1100px
}

.forminfo li {
	margin-bottom: 13px;
	clear: both
}

.forminfo li label {
	width: 86px;
	line-height: 34px;
	display: block;
	float: left
}

.forminfo li i {
	color: #7f7f7f;
	padding-left: 20px;
	font-style: normal;
	line-height: 30px
}

.forminfo .no_flag {
	line-height: 35px
}

.forminfo .no_flag a {
	color: #3672A6;
	margin-left: 10px;
	font-weight: bold
}

.forminfo li cite {
	display: block;
	line-height: 35px;
	font-size: 14px;
	float: left
}

.forminfo li cite a {
	color: #666
}

.forminfo li cite i.fa {
	font-size: 16px;
	margin-right: 5px;
	color: #3986A5
}

.dfinput {
	width: 345px;
	height: 32px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	background: url(../../../images/backstage/icons/inputbg.gif) repeat-x;
	text-indent: 10px
}

.dfinput.sort,.dfinput.click {
	width: 110px
}

.textinput {
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	background: url(../images/inputbg.gif) repeat-x;
	padding: 10px;
	width: 504px;
	height: 135px;
	line-height: 20px;
	overflow: hidden
}

input.publisher {
	width: 160px
}

.place a.reload {
	background: 0;
	color: #333;
	display: block;
	overflow: hidden;
	padding: 10px;
	float: right;
	margin-right: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.placeul a.reload:hover {
	color: #FFF
}

.place a i.fa {
	margin-right: 5px
}

a.news-flag {
	color: #3672A6;
	font-size: 14px;
	line-height: 32px;
	display: block;
	float: left
}

.attr_list {
	max-width: 550px;
	float: left
}

a.news-flag i {
	margin: 0 4px;
	font-size: 17px
}

a.news-flag i.fa-check-square {
	color: #3672A6
}

a i.fa-refresh {
	font-size: 16px;
	margin-right: 10px
}

li {
	overflow: hidden
}

li label b {
	color: #DD0012;
	margin: 5px
}

input.cover {
	width: 155px;
	height: 32px;
	line-height: 32px;
	background: #eee;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	text-indent: 10px
}

.select-cover {
	width: 120px;
	height: 33px;
	background: #3D96C9;
	margin-left: 20px;
	font-size: 14px;
	color: #FFF;
	letter-spacing: 3px;
	text-align: center;
	cursor: pointer
}

.uploadBtn {
	width: 70px;
	height: 33px;
	background: #3D96C9;
	margin-left: 10px;
	font-size: 14px;
	color: #FFF;
	letter-spacing: 3px;
	text-align: center;
	cursor: pointer
}

input.disabled {
	background: #999
}

i.cover-tip {
	display: block;
	margin: 8px 0;
	margin-left: 65px
}

#show_cover {
	position: absolute;
	left: 690px;
	top: 110px;
	width: 170px;
	height: 137px;
	padding: 5px;
	border: 1px solid #bbb
}

#show_cover h2 {
	width: 100px;
	height: 20px;
	font-size: 13px;
	line-height: 20px;
	margin: 0 auto;
	text-align: center
}

.lab-desc {
	position: relative
}

.lab-desc .count-text {
	height: 18px;
	line-height: 18px;
	color: #898989;
	text-align: right;
	position: absolute;
	left: 87px;
	bottom: 0;
	border-top: 1px solid #ccc;
	padding: 2px 0;
	padding-right: 10px;
	width: 470px
}

.lab-desc .count-text span {
	display: inline;
	color: #F50018
}

.description {
	border: 1px solid #A7B5BC;
	resize: none;
	width: 460px;
	height: 65px;
	vertical-align: middle;
	padding: 10px
}

.news-category {
	width: 347px;
	height: 35px;
	border: 1px solid #A7B5BC;
	font-size: 14px
}

.news-category option {
	margin: 5px 0
}

li div.left-i,li div.right-i {
	width: 310px;
	float: left
}

li div.left-i i,li div.right-i i {
	margin: 0;
	padding: 0
}

li div.left-i label,li div.right-i label {
	clear: both;
	display: block
}

li div.left-i input,li div.right-i input {
	width: 180px
}

input.submitable {
	background: #3672A6
}

input.submit-disable {
	background: #616161
}

input.submit {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 137px;
	height: 35px;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer
}

li.editor {
	overflow: visible;
	position: relative
}

span.doing {
	display: inline;
	color: #297912;
	font-size: 14px
}

.cssSelect {
	width: 300px
}

.cssSelect .selectBox {
	width: 298px;
	margin: 0;
	padding: 0
}

.cssSelect .selectBox .selectLt {
	width: 270px;
	margin: 0;
	padding: 0;
	border: 0;
	text-indent: 22px
}

.cssSelect .selectBox .selectRt {
	width: 28px;
	line-height: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0
}

.cssSelect .optionsBox {
	width: 294px
}

.cssSelect .optionsBox .optionBox.selected {
	background: #3672A6
}

.cssSelect .optionsBox .optionBox.oHover {
	background: #55A2E5
}