<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>焦点图信息编辑页面</title>
<!-- BEGIN 页面公共文件 -->
<load href="__COMMON__/css/init.css" />
<load href="__COMMON__/css/font-icons.css" />
<load href="__COMMON__/js/jquery.min.js" />
<!-- END 页面公共文件 -->


<!-- BEGIN 当前页面的css 和js -->
<load href="__COMMON__/css/tools/easydialog.css" />
<load href="__ADMIN_CSS__/common.css" />
<load href="__ADMIN_CSS__/focus/focus_edit.css" />
<load href="__COMMON__/js/tools/easydialog.min.js" />
<load href="__COMMON__/js/tools/Validator.js" />
<load href="__COMMON__/js/tools/ajaxFileUpload.js" />
<load href="__COMMON__/js/tools/lazyload/jquery.lazyload.js" />
<load href="__COMMON__/js/tools/lazyload/html5shiv.js" />
<load href="__COMMON__/tools/htmlEditor/kingeditor/kindeditor-all-min.js" />
<!-- END 当前页面的css 和js -->
    <script type="text/javascript">
        var cssurl ='';
    </script>
</head>
<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="{:U('Index/main')}">首页</a></li>
    <li><a href="javascript:void(0)">编辑幻灯片</a></li>
    </ul>
    <a class="reload" href="javascript:void(0)" onclick="window.location.reload()"><i class="fa fa-refresh"></i>重载此页面</a>
    </div>

    <div class="formbody">    
    <div class="formtitle">
    <input type="hidden" value="{$focus.id}" name="focusid" />
    	<span>幻灯片编辑</span>
		<a href="{:U('Focus/index')}"><i class="fa fa-reply"></i>返回幻灯片列表</a>
		</div>    
    <ul class="forminfo">
    <li><label><b>*</b>焦点图标题</label><input name="title" type="text" class="dfinput" maxlength="40" value="{$focus.title}"/><i placeholder="标题不小于4个字且不能超过40个字符" >标题不小于4个字且不能超过40个字符</i></li>
    <li><label><b>*</b>焦点图名称</label><input name="focusname" type="text" class="dfinput" maxlength="12" value="{$focus.focusname}" /><i placeholder="标题不超过12个字符" >标题不超过12个字符</i></li>
    <li><label><b>&nbsp;</b>链接指向：</label><input name="linkurl" type="text" class="dfinput" value="{$focus.linkurl}"/><i placeholder="必须带http://或https://,直接输入url地址" >必须带http://或https://,直接输入url地址</i></li>
    <li class="cover"><label><b>*</b>焦点图上传</label>
    <input name="image" id="coverImg" type="text" class="dfinput  cover" readonly="readonly" value="{$focus.cover}"/>
    <input name="coverImgFile" type="file" style="display:none" id="coverImgFile" onchange="file_change(this.value)">
    <input type="button" class="select-cover" value="选择焦点图" onclick="coverImgFile.click();" name="get_file">
    <input name="uploadBtn" type="button" class="uploadBtn" value="上传" onclick="return ajaxFileUpload();"><br />
    <i class="cover-tip" placeholder="图片尺寸1920×650像素，请先做好封面图，否则可能影响前端显示效果" >图片尺寸1920×650像素，请先做好封面图，否则可能影响前端显示效果</i>
    </li>
  <li><label><b>&nbsp;</b>是否启用</label>
  <if condition="$focus.isshow eq 1">
  <input name="isshow" type="hidden" value="1" />
	<cite class="checkshow">
		<a href="javascript:void(0)" class="show"><i class="fa fa-check-square"></i>立即启用</a>
		<a href="javascript:void(0)" class="not_show"><i class="fa fa-square-o"></i>暂不启用</a>
	</cite>
	<else />
	<input name="isshow" type="hidden" value="0" />
	<cite class="checkshow">
		<a href="javascript:void(0)" class="show"><i class="fa fa-square-o"></i>立即启用</a>
		<a href="javascript:void(0)" class="not_show"><i class="fa fa-check-square"></i>暂不启用</a>
	</cite>
  </if>
	</li>
    <li><label><b>&nbsp;</b>描述内容</label><textarea name="desc" class="dfinput" >{$focus.desc}</textarea><i placeholder="可选，显示在焦点图上的小号描述文字" >可选，显示在焦点图上的小号描述文字</i></li>
    <li><label><b>&nbsp;</b>按钮文字</label><input name="btntext" type="text" class="dfinput" value="{$focus.btntext}"/><i placeholder="可选，显示在焦点图上的按钮文字，默认为“see detail...”" >可选，显示在焦点图上的按钮文字，默认为“see detail...”</i></li>
    <li><label><b>&nbsp;</b>文字模版</label><select name="showtype" class="dfinput" style="text-indent: 10px;">
        <option value ="1" <eq name="focus.showtype" value="1">selected="selected"</eq>>文字居中</option>
        <option value ="2" <eq name="focus.showtype" value="2">selected="selected"</eq>>文字居左</option>
        <option value ="3" <eq name="focus.showtype" value="3">selected="selected"</eq>>文字居右</option>
    </select>
        <i placeholder="文字部分在焦点图上的显示位置，有三种模版可选" >文字部分在焦点图上的显示位置，有三种模版可选</i>
    </li>
    <li>
    <div class="left-i">
    <label><b>&nbsp;</b>排序设置</label>
    <input name="sortorder" type="text" class="dfinput sort" value="{$focus.sortorder}" />
    <i placeholder="请输入整数">请输入整数</i>
    </div>  
    </li>    
    <li><label>&nbsp;</label><input name="submit" type="button" class="submit submitable" value="确认修改" />
	<i placeholder=""></i>
	</li>
    </ul>
    <div id="show_cover" class="show_cover">
    <h2>图片预览</h2>
    <div class="img"><img class="coverimg" src="/assets/common/images/icons/default_focus.jpg" data-original="{$focus.cover}"   width="200" height="64"></div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
var coverUploadUrl="{:U('Focus/coverUpload')}";
var postDataUrl="{:U('Focus/focusUpdate')}";
$(function() {
      $("img.coverimg").lazyload({effect: "fadeIn"});
  });
</script>
<load href="__ADMIN_JS__/focus/focus_edit.js" />

